# Data Cleaning

## Data cleaning for text data

The data used in this part is text data from Twitter API. 
You can find the raw data here:\
https://github.com/anly501/anly-501-project-WilliamChuFCB/tree/main/data/raw_data

The data mentioned above is named â€œtweet_freeway.csvâ€ and â€œtweet_metro.csvâ€ respectively.

First import necessary packages and read the raw datasets

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import string 
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer

# GET STOPWORDS
from nltk.corpus import stopwords
stop_words=nltk.corpus.stopwords.words('english')

# INITALIZE STEMMER+LEMITZIZER+SIA
sia = SentimentIntensityAnalyzer()
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [15]:
df1=pd.read_csv('tweet_freeway.csv') 
df2=pd.read_csv('tweet_metro.csv')

Let's take a quick look at the raw data:

In [19]:
list(df1.iloc[10:19,0])

["@RealDeniseWelch Wake up Ms holier than thou.  Harry is cashing in off Diana &amp; the only time Migraine doesn't lie is when she's asleep.",
 'I hate the 5 freeway so much',
 'Westbound 91 Freeway closed over weekend https://t.co/ynRCJmjh72 https://t.co/Exo4XAIqO1',
 'MULTI FR24 CIRCLING ALERT : At time Sat Dec 10 00:09:05 2022 #N2824Y was likely to be circling at FL34 1nm from LGâ€¦ https://t.co/KhDXGLDd3x',
 'Freeway Fallguy #Juegos #Autos https://t.co/iNBoLT0rmp',
 'if no control ever comes on when iâ€™m driving iâ€™ll swerve off the freeway',
 '@TideorDieChick These niggas had a blockade set up on the freeway and did donuts!',
 'Iâ€™m stuck in the freeway and I gotta go home and pack ðŸ˜©',
 'Freeway tells me â€œdrive hammered, get nailed.â€ Uh oh']

In [20]:
list(df2.iloc[10:19,0])

['@My_Metro The one next due (which is meant to be going to the coast based on your last reply) is showing as airportâ€¦ https://t.co/aCxaxVWU7o',
 '@My_Metro Thanks!',
 '@socialepfo @PMOIndia @byadavbjp @Rameswar_Teli @LabourMinistry @mygovindia @MIB_India @PIB_India @AmritMahotsav Inâ€¦ https://t.co/OQW2sDWKtx',
 'If you ever get time do notice that the  frequency of metro towards Noida are less as compared to metro towards Dwaâ€¦ https://t.co/DwzX97RT5f',
 'RT @drdpgoel: On board the Nagpur Metro, Honâ€™ble prime minister Shri @narendramodi ji interacted with students, those from the start up secâ€¦',
 '"#MetroInDino will have 4 segments, each story going on to be linked with one another in the end. #AnuragBasu had dâ€¦ https://t.co/UxvydjKtAv',
 '@jingyi25510683 Five players banned from World Snooker Tour over match-fixing allegations https://t.co/KBIIthv8Mm via @Metro_Sport',
 "@Olegrio75499074 The Metro Police are a bunch of ðŸŒˆ snowflakes, they don't charge, and the attackers know it...",
 'Kaiser Permanente supports metro Atlanta communities to end homelessness(Sponsored Content by @KPGeorgia) https://t.co/FM8AVGJR25']

It is obvious that this raw data is difficult for doing further analysis due to unwanted characters and inconsistent format. Thus, we need to use a series of data cleaning method to polish these datasets.

In [16]:
def clean_string(text):
    #FILTER OUT UNWANTED CHAR
    new_text=""
    keep=" abcdefghijklmnopqrstuvwxyz0123456789"
    for character in text:
        if character.lower() in keep:
            new_text+=character.lower()
        else: 
            new_text+=" "
    text=new_text

    #FILTER OUT UNWANTED WORDS
    new_text=""
    for word in nltk.tokenize.word_tokenize(text):
        if word not in nltk.corpus.stopwords.words('english'):
            #lemmatize 
            tmp=lemmatizer.lemmatize(word)
            word=tmp
            if len(word)>1:
                if word in [".",",","!","?",":",";"]:
                    #remove the last space
                    new_text=new_text[0:-1]+word+" "
                else: #add a space
                    new_text+=word.lower()+" "
    text=new_text.strip()
    return text

In [27]:
sh_free_list=list(df1.iloc[:,0])
sh_mtr_list=list(df2.iloc[:,0])
for i in range(len(sh_free_list)):
    sh_free_list[i]=clean_string(sh_free_list[i])
for i in range(len(sh_mtr_list)):
    sh_mtr_list[i]=clean_string(sh_mtr_list[i])

After the process above, we have filtered out unwanted characters, spaces and stopwords. Have a look at this data now:

In [29]:
sh_free_list[10:19]

['realdenisewelch wake holier thou harry cashing diana amp time migraine lie asleep',
 'hate freeway much',
 'westbound 91 freeway closed weekend http co ynrcjmjh72 http co exo4xaiqo1',
 'multi fr24 circling alert time sat dec 10 00 09 05 2022 n2824y likely circling fl34 1nm lg http co khdxgldd3x',
 'freeway fallguy juegos auto http co inbolt0rmp',
 'control ever come driving swerve freeway',
 'tideordiechick nigga blockade set freeway donut',
 'stuck freeway got ta go home pack',
 'freeway tell drive hammered get nailed uh oh']

We can see that the data is much cleaner now. We only keep English characters and numbers, and we also remove those words without actual meaning, like preposition. Perhaps you will find this data more difficult to understand, but it is absolutely much easier for the computer to comprehend.

Next, we arrange labels to the data and combine tweets about freeway and metro into one dataset. This is important for further analysis, like some supervised classification algorithms.

In [33]:
tmp1=[]
for i in range(0,len(sh_free_list)):
    tmp1.append([sh_free_list[i],"freeway"])
df1=pd.DataFrame(tmp1)
df1=df1.rename(columns={0: "text", 1: "label"})

tmp2=[]
for i in range(0,len(sh_mtr_list)):
    tmp2.append([sh_mtr_list[i],"metro"])
df2=pd.DataFrame(tmp2)
df2=df2.rename(columns={0: "text", 1: "label"})

df=pd.concat([df1,df2])
print(df.head())
print(df.tail())
df.to_csv('free_mtr_text_data.csv',index=False)

                                                text    label
0  boenau rfsdfhsfbhwsfgb least ca expressway mig...  freeway
1  zacakamadu sudden urge go san jose talk cultur...  freeway
2        alinaaaziz yes girl freeway system wack lol  freeway
3  multi adsbx circling alert time sat dec 10 18 ...  freeway
4  ghettosmosh almost crashed fucking whip freewa...  freeway
                                                  text  label
876  mirazi8 enquiry case found mentioned address t...  metro
877  drishtisharma02 even highlighted action taken ...  metro
878  rt vjsubhash01 bos return chennai metro carry ...  metro
879  rt rweingarten yesterday new mexico family amp...  metro
880  stephedger one train departed next train due l...  metro

The data is ideal for further analysis now. You can access to this cleaned data here:\
https://github.com/anly501/anly-501-project-WilliamChuFCB/tree/main/data/cleaned_data

The name of this dataset is "free_mtr_text_data.csv"

In order to use algorithms to do classification on this dataset, we still need some steps to make the data more comprehensible for the computer. First, convert the string labels to integer labels using 0 and 1.

In [40]:
#CONVERT FROM STRING LABELS TO INTEGERS 
labels=[]
y1=[]
for label in df["label"]:
    if label not in labels:
        labels.append(label)
        print("index =",len(labels)-1,": label =",label)
    for i in range(0,len(labels)):
        if(label==labels[i]):
            y1.append(i)
y1=np.array(y1)

# CONVERT DF TO LIST OF STRINGS 
textdata=df["text"].to_list()

print("number of text chunks = ",len(textdata))
print("--------------------")
print("example of the data:")
print(textdata[0:3])

index = 0 : label = freeway
index = 1 : label = metro
number of text chunks =  3465
--------------------
example of the data:
['boenau rfsdfhsfbhwsfgb least ca expressway might limited access still grade inte http co dibmsr9b5b', 'zacakamadu sudden urge go san jose talk cultural impact song unfortunately san jo http co nujnntbhx0', 'alinaaaziz yes girl freeway system wack lol']

Then, vectorize the data and transform it into onehot matrix.

In [42]:
# INITIALIZE COUNT VECTORIZER
vectorizer=CountVectorizer(min_df=5)   

# RUN COUNT VECTORIZER ON OUR COURPUS 
vec=vectorizer.fit_transform(textdata)   
dense=np.array(vec.todense())

#CONVERT TO ONE-HOT VECTORS
maxs=np.max(dense,axis=0)
onehot=np.ceil(dense/maxs)

# DOUBLE CHECK 
print("shape of onehot matrix:")
print(onehot.shape)

shape of onehot matrix:
(3465, 1332)

In [38]:
onehot

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

We can see that onehot matrix is absolutely a sparse matrix, where most values in this matrix is 0. Every row of this matrix represents a single text chunk while every column repersents a word. "1" means the word represented by the column exists in the text chunk represented by the row. By contrast, "0" means the word does not exist in the text chunk.

## Data cleaning for record data

This data comes from statsmodels.org. It contains information of passengersâ€™ different choice of travel mode.

The meanings of variables are as follows:\
TTME - terminal waiting time\
INVC - in vehicle cost for all stages\
INVT - travel time (in-vehicle time) for all stages\
GC - generalized cost measure:invc+(invt*value of travel time savings)\
HINC - household income\
PSIZE - traveling group size

As for the target variable "MODE", it is relatively complex. Every four rows represent for one passenger and each row of these four represents "air", "train", "bus", "car" respectively from top to bottom. The "MODE" variable is similar to an one-hot variable. When "MODE" equals to 1, it means this passenger choose the travel mode represented by the row where this 1 is located in.

The target of cleaning this data is to make it more comprehensible and easy for further analysis.

You can find the raw data here:\
https://github.com/anly501/anly-501-project-WilliamChuFCB/tree/main/data/raw_data

The name of this file is "travel.csv".

Read from csv file and have a look at the raw data:

In [82]:
df3=pd.read_csv('travel.csv')
df3.iloc[:10,:]

   MODE  TTME  INVC  INVT   GC  HINC  PSIZE
0     0    69    59   100   70    35       1
1     0    34    31   372   71    35       1
2     0    35    25   417   70    35       1
3     1     0    10   180   30    35       1
4     0    64    58    68   68    30       2
5     0    44    31   354   84    30       2
6     0    53    25   399   85    30       2
7     1     0    11   255   50    30       2
8     0    69   115   125  129    40       1
9     0    34    98   892  195    40       1

First, I notice that the data rows represent for "car" is quite different from other rows. For example, the "TTME" variable is always 0 for "car" and it is greater than 0 for others. This might lead to data skew, so I choose to remove all the rows related to "car". The remained rows contain three categories: "air", "bus" and "train". All of these three are public transportation and it makes sense to do analysis among these three travel mode. Then, transform the onehot variable "MODE" into a typical class label "choice".

In [83]:
df3["choice"]=[1,2,3,4]*210

df3_cleaned=df3.loc[df3["MODE"]==1,]
df3_cleaned=df3_cleaned.loc[df3["choice"]!=4,]

Remove the old variable "MODE".

In [84]:
df3_cleaned=df3_cleaned.drop("MODE",axis=1)
df3_cleaned=df3_cleaned.reset_index()
df3_cleaned=df3_cleaned.drop("index",axis=1)

df3_cleaned.to_csv('travel_mode_choice.csv',index=False)
df3_cleaned.iloc[:10,:]

   TTME  INVC  INVT   GC  HINC  PSIZE   choice
0    40    20   345   57    20       1       2
1    45   148   115  160    45       1       1
2    20    19   325   55    26       1       2
3    15    38   255   66    26       1       2
4    20    21   300   54     6       1       2
5    45    18   305   51    20       1       2
6    10    28   305   75    72       2       2
7    20    21   305   54     6       1       2
8    45    45   465  116    10       2       2
9    90   142   105  153    50       1       1

Now this data only includes 151 rows and every row represents for a single passenge. "choice" is the target variable and it contains three different categories: "1" for "air", "2" for "train" and "3" for "bus". All the X features are numeric variables. This cleaned data is ideal for any classification method now.

You can find this cleaned data here:\
https://github.com/anly501/anly-501-project-WilliamChuFCB/tree/main/data/cleaned_data

The name of this file is "travel_mode_choice.csv"